In [9]:
# standard imports
import numpy as np
import pandas as pd
import networkx as nx

# for data exploration, cleaning, and visualization
import pandas_profiling
import janitor as jn
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
raw = pd.read_csv('spotify_dataset.csv', on_bad_lines='skip')

In [4]:
raw.head()

,user_id,"""artistname""","""trackname""","""playlistname"""
0,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello,(The Angels Wanna Wear My) Red Shoes,HARD ROCK 2010
1,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello & The Attractions,"(What's So Funny 'Bout) Peace, Love And Unders...",HARD ROCK 2010
2,9cc0cfd4d7d7885102480dd99e7a90d6,Tiffany Page,7 Years Too Late,HARD ROCK 2010
3,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello & The Attractions,Accidents Will Happen,HARD ROCK 2010
4,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello,Alison,HARD ROCK 2010

Renaming column names, doing some quick initial exploration of the data

In [8]:
# define a function to rename the columns
def rename_cols(df):
    columns = ['user_id', 'artist_name', 'track_name', 'playlist_name']
    df.columns = columns
    return df

data = rename_cols(raw)
data.head()

,user_id,artist_name,track_name,playlist_name
0,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello,(The Angels Wanna Wear My) Red Shoes,HARD ROCK 2010
1,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello & The Attractions,"(What's So Funny 'Bout) Peace, Love And Unders...",HARD ROCK 2010
2,9cc0cfd4d7d7885102480dd99e7a90d6,Tiffany Page,7 Years Too Late,HARD ROCK 2010
3,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello & The Attractions,Accidents Will Happen,HARD ROCK 2010
4,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello,Alison,HARD ROCK 2010

In [14]:
data.shape

(12891680, 4)

In [12]:
data.describe()

                                 user_id artist_name track_name playlist_name
count                           12891680    12858112   12891595      12890434
unique                             15918      289821    2032044        157504
top     4398de6902abde3351347b048fcdc287   Daft Punk      Intro       Starred
freq                              295275       36086       6676       1337085